/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  cursor: default;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

strong, b {
  font-weight: bold;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-moz-selection {
  color: inherit;
  background-color: inherit;
}
::selection {
  color: inherit;
  background-color: inherit;
}

.slideRight > img {
  animation: slideRight 0.7s ease infinite;
}

.slideLeft > img {
  animation: slideLeft 0.7s ease infinite;
}

@keyframes slideRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}
@font-face {
  font-family: "Outfit";
  src: url("/src/assets/fonts/Outfit-VariableFont_wght.ttf") format(truetype);
}
#root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.score-card.blue {
  background-color: hsl(178, 76%, 66%);
}

.score-card.silver {
  background-color: hsl(199, 24%, 73%);
}

.score-card.yellow {
  background-color: hsl(39, 100%, 69%);
}

.score-card {
  width: 8.75rem;
  height: 4.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-card__header {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.88px;
  line-height: 18px;
  color: hsl(200, 32%, 15%);
}

.score-card__score {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  line-height: 30px;
  color: hsl(200, 32%, 15%);
}

@media (max-width: 30rem) {
  .score-card {
    width: 6rem;
    height: 4rem;
  }
  .score-card__header {
    font-size: 0.75rem;
    letter-spacing: 0.75px;
    line-height: 15px;
  }
  .score-card__score {
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    line-height: 25px;
  }
}/*# sourceMappingURL=scoreCard.css.map */